footer {
    background-color: rgba(47, 23, 15, 0.9);
}
.text-faded {
    color: #f6e1c5;
}
.divisor{
    width: 40%;
    height: 0.02rem;
    background-color: rgba(230, 167, 86, 0.9);
}
h6{
    text-align: left;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-left: 1rem;
}