footer {
    background-color: rgba(47, 23, 15, 0.9);
}
.text-faded {
    color: $color1;
}
.divisor{
    width: 40%;
    height: 0.02rem;
    background-color: rgba(230, 167, 86, 0.9);
}
h6{
    text-align: left;
    font-size: $size1;
    font-family: $titulo-font;
    font-weight: $weigth2;
    margin-left: 1rem;
}