*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(../imágenes/negro-dorado.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
$titulo-font: 'Raleway', sans-serif;
$weigth1: 800;
$weigth2: 100;
$size1: 2rem;
$size2: 5rem;
$texto-font:'Lora', serif;
$color1:#f6e1c5;
$color2:#e6a756;
