.header{
    height: auto;
    width: 100%;
}
.header__texto{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: $titulo-font;
    text-align: center;
}
.header--texto1{
    display: block;
    font-size: $size1;
    font-weight: $weigth1;
    color: rgb(230, 167, 86);
    margin-bottom: 1rem;
}
.header--texto2{
    color: #f6e1c5;
    font-weight: $weigth2;
    font-size: $size2;
    line-height: 4rem;
}
