.div{
    height: 15rem;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-image: url(./imágenes/blob-haikei.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.titulos{
    text-align: center;
}
.pag-section{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.intro{
    position: relative;
}
@media (min-width: 992px){
.intro .intro-img {
    width: 75%;
    float: right;
}
.intro .intro-text{
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
}
.intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
}
}
.bg-faded{
    background-color: #f6e1c5;
}
.section-heading{
    text-transform: uppercase;  
    color: #212529; 
}
.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.section-heading .section-heading-lower {
    display: block;
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}
p {
    line-height: 1.75;
    font-family: 'Lora', serif;
}
.btn-primary {
    color: #000;
    background-color: #e6a756;
    border-color: #e6a756;
}
.segunda {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(230, 167, 86, 0.9);
}
.segunda .segunda-text {
    position: relative;
    padding: 3rem;
    margin: 1rem;
}
iframe{
    width: 80%;
    height: 20rem;
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}