@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(../imágenes/negro-dorado.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header {
  height: auto;
  width: 100%;
}

.header__texto {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.header--texto1 {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  color: #e6a756;
  margin-bottom: 1rem;
}

.header--texto2 {
  color: #f6e1c5;
  font-weight: 100;
  font-size: 5rem;
  line-height: 4rem;
}

footer {
  background-color: rgba(47, 23, 15, 0.9);
}

.redSocial {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  grid-template-areas: "icono1 icono2 icono3 icono4";
  justify-content: center;
  justify-items: center;
  color: #f6e1c5bb;
  font-family: "Lora", serif;
  font-weight: 100;
  font-style: italic;
}

#link {
  color: #f6e1c5bb;
}

.icono1 {
  grid-area: "icono1";
}

.icono2 {
  grid-area: "icono2";
}

.icono3 {
  grid-area: "icono3";
}

.icono4 {
  grid-area: "icono4";
}

.divisor {
  background-color: #e6a756;
  height: 0.1rem;
  width: 80%;
  margin-left: 10%;
}

.footer-copyright {
  text-align: center;
  color: black;
}

@media (max-width: 768px) {
  .redSocial {
    width: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    grid-template-areas: "icono1 icono2" "icono3 icono4";
    justify-content: center;
    justify-items: center;
  }
}
#mainNav {
  background-color: rgba(32, 30, 30, 0.9);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

#mainNav .navbar-brand {
  color: #e6a756;
}

.div {
  height: 15rem;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-image: url(./imágenes/blob-haikei.png);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.titulos {
  text-align: center;
}

.pag-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }

  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }

  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
  }

  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}
.bg-faded {
  background-color: #f6e1c5;
}

.section-heading {
  text-transform: uppercase;
  color: #212529;
}

.section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}

.section-heading-lower {
  display: block;
  font-size: 2rem;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}

p {
  line-height: 1.75;
  font-family: "Lora", serif;
}

.btn-primary {
  color: #000;
  background-color: #e6a756;
  border-color: #e6a756;
}

.segunda {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(230, 167, 86, 0.9);
}

.segunda .segunda-text {
  position: relative;
  padding: 3rem;
  margin: 1rem;
}

iframe {
  width: 80%;
  height: 20rem;
  vertical-align: middle;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.ms-auto {
  margin-left: auto !important;
}

/*# sourceMappingURL=estilo.css.map */
